@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <h2>Learn more about <a href="https://en.wikipedia.org/wiki/Loudspeaker">Audio Speaker's</a>.</h2>
</div>
<p>
    Ved's is an Indo-Canadian company that manufactures audio hardware, including AudioSpeakers, loudspeakers and headphones. It serves the consumer home and professional market. The professional market includes studios, installed/tour/portable sound, cars, music production, DJ, cinema markets, etc. Ved's Speaker is owned by Patil Enterprises.
    It was founded by Ved Patil in year 2015, an Indo-Canadian audio engineer and loudspeaker designer best known for establishing one of the best audio speaker company in the world.
    There are two headquarters one in New Delhi, India and the other one in Ottawa, Canada.<br /><br />
    Interactive chart of Company's (Ved's Speaker) annual worldwide employee count from 2015 to 2021.<br /><br />
    Company's total number of employees in 2021 was 238,000, a 0.83% decline from 2020.<br />
    Company's total number of employees in 2020 was 240,000, a 20% increase from 2019.<br />
    Company's total number of employees in 2019 was 200,000, a 0.5% increase from 2018.<br />
    Company's total number of employees in 2018 was 199,000, a 17.06% increase from 2017.<br />
</p>

<style>
    p {
        background-color: #F7CAC9;
        padding:40px;
    }
</style>