@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color:black; color:white">Welcome to Ved's Speakers</h1>
    <p style="font-family:fantasy; font-size:x-large; padding:15px;" >Silence is Boring....</p>
</div>

<div class="a">
    <img style="background-repeat: no-repeat; height: 525px; width: 915px; padding-left: 150px; padding-bottom: 30px; padding-top: 20px;" src="https://www.trustedreviews.com/wp-content/uploads/sites/54/2021/06/Audio-Pro-G10-920x613.jpg" />
    <img style="background-repeat: no-repeat; height: 525px; width: 915px; padding-left: 150px; padding-bottom: 30px;" src="https://cdn.pixabay.com/photo/2020/12/03/10/33/speaker-5800162_1280.jpg" />
    <img style="background-repeat: no-repeat; height: 525px; width: 915px; padding-left: 150px; padding-bottom: 30px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Sansui_SP-Z6_4-way_4-speaker_system_pair_with_Hi-Fi_audio_set_%282011-06-02_16.13.57_%40pxhere_355429%29.jpg/1600px-Sansui_SP-Z6_4-way_4-speaker_system_pair_with_Hi-Fi_audio_set_%282011-06-02_16.13.57_%40pxhere_355429%29.jpg?20180410062941" />
</div>

<style>
     .a{
        border:double;
        padding:10px;
        background-color:bisque;
     }
    footer {
        background-color: white;
    }
</style>